<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pood</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/style/styles.css">
</head>

<body id="top">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">E-Pood</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <% products.forEach(function(product) { %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/<%= product.imageUrl %>" height="auto" width="100%" class="card-img-top" alt="<%= product.name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= product.title %></h5>
                            <p class="card-text"><%= product.description %></p>
                            <p class="card-text"><strong>Hind: </strong><%= product.price %></p>

                            <% if (isAdmin) { %>
                                <a href="/edit-product/<%= product.id %>" class="btn btn-warning">Edit</a>
                                <form action="/delete-product/<%= product.id %>" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            <% } else { %>
                                <a href="/product/<%= product.id %>" class="btn btn-primary">View Product</a>
                                <button class="btn btn-success" onclick="addToCart('<%= product.id %>', '<%= product.title %>', '<%= product.price %>')">Add to Cart</button>
                            <% } %>

                            <script>
                                localStorage.setItem('cart', JSON.stringify([]));

                                function addToCart(productId, productTitle, productPrice) {
                                    let cart = JSON.parse(localStorage.getItem('cart')) || [];
                                    cart.push({
                                        title: productTitle,
                                        price: productPrice,
                                        quantity: 1
                                    });
                                    localStorage.setItem('cart', JSON.stringify(cart));
                                    alert('Product added to cart!');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <a href="#top" class="gif-corner">
        <img src="https://media2.giphy.com/media/Qs6PlzCPQ6wXyBIUe8/giphy.gif?cid=6c09b952rkuwixcnenonjtvmboeeboi91a5we1p4n8ns91hv&ep=v1_stickers_search&rid=giphy.gif&ct=s" alt="ufo">
    </a>
</body>
</html>